<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dashboard Web Application</title>

    <link href="css/site.min.css" rel="stylesheet" />

    <script type="text/javascript">
        function onBeforeRender(sender) {
            var dashboardControl = sender;
            var exportRoute = '@Url.Action("ExportAllItems", "Export")';
            dashboardControl.registerExtension(new ExportAllItemsExtension(dashboardControl, exportRoute));
        }
    </script>
</head>
<body>
    @RenderBody()

    <script src="js/site.min.js"></script>
    <script src="js/ExportAllItemsExtension.js"></script>
</body>
</html>